*{
    width: 100%;
    height:100%;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog{
    width: 100%;
   height:150vh;
    background-color:transparent;
   
}
.blog2{
    background-color:transparent;
    width:550px;
    height: 20px;
    margin-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;  
}
.blog3{
    margin-left: 5px;
    font-size: 18px;
}
@media only screen and (max-width: 768px){
    .blog2{
        width: 100%;
    }
    .blog{
        min-height:290vh;
    }
}