*{
    width:100%;
    height:100%;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width:100%;
    height:calc(100vh - 60px);
   background-color:transparent;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.main .maincontent{
    width:45vw;
    height:65vh;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    gap:0;

}
.main .maincontent .heading{
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main .maincontent .para{
  font-size: 20px;

}
.main .maincontent .btn{
    width:120px;
    height:45px;
    border-radius: 15px;
    color: white;
    background-color: black;
}
.maincontent .btn:hover{
    scale:1.1;
    cursor: pointer;
}
.mainimage{
    width:40vw;
    height:60vh;
    background-color: transparent;

  }
  .mainimage img{
    /* object-fit: cover; */
    mix-blend-mode:multiply;

    
  }
 
  @media only screen and (max-width: 768px){
    .main{
        flex-direction: column;
        gap:10px;
    }
    .main .maincontent{
        width:70vw;
       
    }
    .main .maincontent .heading{
        font-size: 10vw;
    }
    .maincontent button{
        margin-left:15vw;
    }
    .mainimage{
        width:100vw;
    }
  }